.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    color: Black;
    font: 16px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#header h1 {
    font-family: Chiller;
    font-size: 40px;
    color: #f4f4f4;
    padding: 10px 0 10px 50px;
    font-weight: bolder;
}

#header {
    background: #a4a4a4;
    height: 100px;
    padding: 15px;
}

#menu {
    background: #a4a4a4;
    height: 40px;
    padding-left: 40px;
}

#menu ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    color: #f4f4f4;
    display: block;
    float: left;
    font: bold 13px/34px Arial,sans-serif;
    height: 40px;
    padding: 0 25px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #bc874f;
}


#menu ul li a.active {
    background: white;
    color: #a4a4a4;
}

#middle {
    background: white;
    height: auto;
    padding: 60px 60px 90px 60px;
    width: auto;
    text-align: left;
    color: #bc874f;
}

#middle .middle_left {
    float:left;
    width:50%;
}

#middle .middle_right {
    float:left;
    padding-left: 50px;
    width: 40%;
}

.float-fix:after {
    content: "";
    display: block;
    clear: both;
}

#footer {
    background: #a4a4a4;
    color: #f4f4f4;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    position:fixed;
    bottom:0;
}

#footer p {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0 0 0;
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    min-width: 1170px;
}

.product-node {
    border: 1px solid #bc874f;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}

.product-selected {
    background-color: #bc874f;
    color: white;
}

label {
    font-size: 25px;
}

input {
    margin: 20px 0 10px 0;
    display: block;
}

form input {
    width: 80%;
    height: 30px;
    font-size: larger;
}

form textarea {
    width: 80%;
    height: 150px;
    font-size: larger;
    padding: 2px 0 2px 0;
}


#newRecipeForm textarea {
    float: left;
    margin: 20px 0 20px 0;
}

.recipe-edition-form input {
    width: 100%;
    border: 1px solid #a4a4a4;
}

.recipe-edition-form textarea {
    float: left;
    margin: 20px 0 20px 0;
    width: 100%;
    border: 1px solid #a4a4a4;
}

select {
    margin-bottom: 1rem;
    display: block;
}

.validation-error {
    display: block;
    color: red;
    margin: 0px 0 10px 0;
}

.error-message {
    color: #ff6359;
}

.invalid-value {
    border: 1px solid red;
}

.product-list {
    margin-top: 20px;
    width: 100%;
}

.product-search-input {
    border: 0px;
    border-bottom: 1px #a4a4a4 dashed;
    width: 80%;
    height: 20px;
    font-size: larger;
    margin: 20px 20px 20px 0px;
}

.product-search-input:focus{
    border-bottom: 1px #a4a4a4 solid;
    transition: 0.5s;
    outline: 0;
}

.submit-button {
    background-color: #bc874f;
    border: 0;
    padding: 5px 10px 5px 10px;
    width: 80%;
    color: white;
    font-size: large;
}

button {
    cursor: pointer;
}

.modal-submit-button {
    width: 45%;
    float: right;
}

.modal-cancel-button {
    background-color: white;
    border: 1px solid #bc874f;
    padding: 5px 10px 5px 10px;
    width: 45%;
    color: #bc874f;
    font-size: large;
    float: left;
}

.submit-button:hover {
    background-color: #bcb070;
    cursor: pointer;
}

.recipe-list {
    margin-top: 20px;
    width: 100%;
}

label {
    margin-bottom: 20px;
    font-style: italic;
}

.product-list-row {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin: 4px 0 4px 0;
}

.product-list-row p {
    display: inline;
}

.product-list-row button {
    float: right;
    background: white;
    border: 1px solid #a4a4a4;
    margin: 0 5px 0 5px;
}

.product-list-row input {
    display: inline-block;
    margin: 0;
    height: 20px;
    font-size: larger;
}

.recipe-list-row {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin: 4px 0 4px 0;
}

.recipe-list-row p {
    display: inline;
}

.recipe-list-row button {
    float: right;
    background: white;
    border: 1px solid #a4a4a4;
    margin: 0 5px 0 5px;
}

.recipe-list-row input {
    display: inline-block;
    margin: 0;
    height: 20px;
    font-size: larger;
}

.recipe-details {
    color: black;
}

.recipe-details h3 {
    color: #a4a4a4;
}

